tensorflow

# --- Trainer / Config ---
pytorch-lightning==1.9.5
hydra-core
omegaconf

clean-fid

# --- SciPy stack ---
numpy
pandas
scikit-image
scikit-learn
pandas
matplotlib

# --- IO / Utils ---
pillow
imageio
opencv-python
tqdm
huggingface-hub
safetensors
easydict
addict
geotorch
tensorboard

# IDK
torch_ema